$dark-primary-color: #689F38;
$light-primary-color: #DCEDC8;
$primary-color: #8BC34A;
$text-icons: #212121;
$accent-color: #00BCD4;
$primary-text: #212121;
$secondary-text: #757575;
$main-background: #f7f5f3;
$divider-color: #BDBDBD;
