@use "palette";

body {
  margin: 0;
  padding: 0;
  //background: palette.$main-background;
  background: #F3F7FD;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.info-section {
  padding-top: 130px;
}

h1, h2, h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

p {
  font-family: Roboto, sans-serif;
  font-size: 14pt;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.subtitle {

}
