<div class="container-fluid info-container">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="contact-data">
                    <div class="contact-data_info">
                        <strong><i class="fa-regular fa-envelope"></i> admin@cloudevs.co</strong>
                    </div>
                    <div class="contact-data_info">
                        <strong><i class="fa-solid fa-phone"></i> (+57) 314 435 2585</strong>
                    </div>
                </div>
            </div>
            <div class="col-4">
              <div class="contact-data">
                <div class="contact-data_info">
                  <strong><i class="fa-brands fa-facebook"></i></strong>
                  <strong><i class="fa-brands fa-instagram"></i></strong>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
