<div class="container-fluid info-container">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="contact-data">
                    <div class="contact-data_info">
                        <strong>admin@cloudevs.co</strong>
                    </div>
                    <div class="contact-data_info">
                        <strong>(+57) 314 435 2585</strong>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <p>social tabs</p>
            </div>
        </div>
    </div>
</div>
