@use "../../../../styles/palette";

.info-container {
  background: palette.$dark-primary-color;
  color: palette.$white-color;
}

.contact-data {
  display: flex;
  flex-direction: row;
  // border:1px solid red;
  align-items: center;
  justify-content: center;
}
.contact-data_info {
  display: flex;
  margin-right: 10px;
}
