@use "../../../../styles/palette";

.info-container {
  background: palette.$dark-primary-color;
  color: palette.$primary-text;
}

.contact-data {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact-data_info {
  display: flex;
  border:1px solid blue;
  margin-right: 10px;
}
