.contact-info {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  padding: 10px;

  &__card {
    // border: 1px solid blue;
    display: flex;
    flex-direction: row;
    padding: 10px;

    &__icon {
      padding: 8px;
      border-radius: var(--radius-md);
      background: var(--primary-light);
      margin-bottom: 24px;
      // border: 1px solid red;

      i {
        font-size: 18pt;
        color: var(--primary);
      }
    }

    &__text {
      // border: 1px solid blue;
      display: flex;
      flex-direction: column;
      padding-left: 16px;

      &__primary {
        font-weight: bold;
        margin-bottom: 10px;
      }

      &__secondary {

      }
    }
  }
}

.enfasis-card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: var(--primary);
  color: var(--text-light);
  border-radius: var(--radius-md);

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
  }

  &__stats-container {
    display: flex;
    flex-direction: row;

    &__stat {
      display: flex;
      flex-direction: column;
      margin-right: 24px;
      // border:1px solid red;

      &__value {
        font-weight: bold;
        font-size: 1.5rem;
      }

    }

  }

}
