@use "../../../styles/palette";

.carousel-container {
  // border: 1px solid red;
}

.cards-container {
  //border: 1px solid green;
  padding: 10px;
  position: relative;
  z-index: 100;
  top: -100px;
}

.card-info {
  background: palette.$white-color;
  // border: 1px solid blue;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
